@import "../../styles/variables";
@import "../../styles/mixins";

.message {
    display: flex;
    flex-direction: column;
    align-items: start;

    &-container {
        position: relative;
    }

    &__body {
        position: relative;
        padding: 1rem 1.2rem 0.7rem;
        max-width: 80%;

        background-image: $gradient-primary;
        border-radius: 2rem 2rem 2rem 0;

        color: $color-white;
        font-family: $font-emoji;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        white-space: pre-line;
        overflow-wrap: anywhere;
    }

    &__author {
        margin-top: 0.6rem;
        color: $color-primary-light;
        font-weight: 600;
        font-size: 1.4rem;
    }

    &__content {
        margin-bottom: 0.6rem;
    }

    &__info {
        display: flex;
        align-items: center;
    }
    &__time {
        font-family: $font-default;
        color: $color-white;
        font-size: 1.2rem;
        line-height: 1.5;
        font-weight: 400;
    }

    &__read {
        display: block;
        height: 1.6rem;
        width: 1.6rem;

        margin-left: 4px;
        color: $color-green;

        &-icon {
            width: 100%;
            height: 100%;
        }
    }
    &__settings {
        position: absolute;
        top: 7px;
        right: -25px;
        color: $color-primary-tertiary;
        width: 25px;
        height: 25px;

        outline: unset;
        border: none;
        background-color: transparent;
        cursor: pointer;
        &-icon {
            width: 100%;
            height: auto;
        }
    }

    &_me {
        align-items: end;
        & .message__body {
            background-image: $gradient-secondary;
            color: $color-black;
            border-radius: 2rem 2rem 0 2rem;
        }

        & .message__time {
            color: $color-grey;
        }

        & .message__info {
            justify-content: end;
        }

        & .message__settings {
            left: -25px;
        }
    }
}
