$color-primary: #5A078B;
$color-secondary: #E8EFFF;
$color-primary-tertiary: #420BA1;
$color-accent: #EE00AB;

$color-primary-light: #8345A8;

$color-black: #232323;
$color-white: #FFFFFF;
$color-green: #008024;
$color-grey: #909090;
$color-blue-light: #F1F6FF;

$color-text-default: #212529;

$box-shadow: rgb(245, 248, 255) 0px 4px 4px 0px;

$font-default: "Poppins";
$font-emoji: "Noto Color Emoji";

$size-header: 8rem;
$border-light: 1px solid #f4eeff;