@import "../../styles/variables";
@import "../../styles/mixins";

$border-top-left-radius: 4.5rem;
.panel {
    position: relative;
    background-color: rgba($color-primary, 0.6);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & .container {
        @include container;
    }

    @media screen and (min-width: $bp-medium) {
        background-color: transparent;
    }

    &__inner {
        background-color: #ffffff;
        background-image: url(../../assets/bg-lg.png);
        background-position: 0px calc(0rem - 8rem);
        background-size: cover;
        background-repeat: repeat;
        border-top-left-radius: $border-top-left-radius;

        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 100%;

        @media screen and (min-width: $bp-medium) {
            border-top-left-radius: 0px;
        }

        & .scrollable-list {
            overflow: hidden;
            display: flex;
        }

        & .message-list {
            position: relative;
            list-style: none;
            padding-bottom: 1rem;
            overflow: hidden;
            height: 100%;

            & > * {
                overflow-x: hidden;
            }

            &__item {
                overflow: hidden;
                padding-bottom: 1.5rem;
            }
        }
        & .btn_bottom {
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 100%;
            background-color: $color-purple-light;

            transition: all 0.3s;
            &:before {
                content: "\2193";
                position: absolute;
                color: $color-primary;
                font-size: 2rem;
                font-family: $font-default;
                font-weight: 500;
                top: 47%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover {
                background-color: darken($color-purple-light, 10%);
            }

            @media screen and (min-width: $bp-medium) {
                bottom: 10px;
                right: 30px;
            }
        }
    }
}

.scrollable-list {
    height: 100%;
}
