@import "../../styles/variables";
@import "../../styles/mixins";

.footer {
    flex-shrink: 0;
    background-color: $color-white;
    border-top: $border-light;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    & .container {
        @include container;
    }

    .form {
        padding: 1.2rem 0;

        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        & .input {
            flex-grow: 1;
            min-width: 0;
            padding: 1rem 0.7rem;
            max-height: 100px;

            resize: none;

            font-family: $font-emoji, sans-serif;
            font-size: 1.4rem;
            color: $color-text-default;
            line-height: 1.5;

            border: none;
            outline: unset;

            &::placeholder {
                color: #ccd7d7;
            }

            &:focus {
                border: none;
            }
        }

        & .btn {
            display: block;
            border: none;
            outline: unset;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            background-color: transparent;

            transform: translateY(-0.8rem);
            cursor: pointer;

            &-icon {
                width: 100%;
                height: auto;
            }
            &-send {
                width: 3.4rem;
                height: 3.4rem;
                padding: 0.7rem;
                border-radius: 100%;
                background-color: $color-accent;
                color: $color-white;
                & .btn-icon {
                    transform: translateX(2px);
                }
            }

            &-emoji {
                width: 3rem;
                height: 3rem;
                // padding: 0.5rem;
                color: $color-primary;
                line-height: 1;
            }

            &:active,
            &:focus-visible {
                outline: unset;
                border: 1px solid $color-black;
            }
        }
    }
}
.picker {
    flex-grow: 1;
    background-color: #f6f3fb;

    &__inner {
        @include container;
    }

    &-box {
        max-height: 50vh;
        & > * {
            background-color: #f6f3fb;
            border-radius: 0px;
        }
    }
}

.emoji {
    font-family: $font-emoji, sans-serif;
}
