.dashboard {
    background-image: url(../../assets/bg-lg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    height: 100vh;
    max-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;
}
